<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IMBApplication.Lol.Timer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <applicationSettings>
        <IMBApplication.Lol.Timer.Properties.Settings>
            <setting name="TopBlue" serializeAs="String">
                <value>LeftAlt#1</value>
            </setting>
            <setting name="BottomBlue" serializeAs="String">
                <value>LeftAlt#2</value>
            </setting>
            <setting name="TopRed" serializeAs="String">
                <value>LeftAlt#3</value>
            </setting>
            <setting name="BottomRed" serializeAs="String">
                <value>LeftAlt#4</value>
            </setting>
            <setting name="Dragon" serializeAs="String">
                <value>LeftAlt#5</value>
            </setting>
            <setting name="Baron" serializeAs="String">
                <value>LeftAlt#6</value>
            </setting>
            <setting name="InitGame" serializeAs="String">
                <value>LeftAlt#S</value>
            </setting>
            <setting name="OverwriteTimer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reset" serializeAs="String">
                <value>LeftAlt#R</value>
            </setting>
        </IMBApplication.Lol.Timer.Properties.Settings>
    </applicationSettings>
</configuration>
